  <script type="text/javascript" src="/assets/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>

  {% if include.addCustomJs == true %}
  <script type="text/javascript" src="/assets/js/custom.js"></script>
  {% endif %}
   <!-- Start cookieyes banner --> 
   <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/e686151a032fcc69dc908d98/script.js"></script> 
   <!-- End cookieyes banner --> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-197628965-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-197628965-1');
</script>

  <!-- Hotjar Tracking Code for www.hexad.de -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2413056,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
