{% assign t = site.data.translations[include.lang]["navbar"] %}
{% assign hrefPrefix = site.baseurl | append: '/' %}
{% assign linkClass = '' %} 

{% if page.url == "/" %} 
  {% assign hrefPrefix = '' %}
  {% assign linkClass = 'page-scroll' %} 
{% endif%}
<nav id="hexadNav" class="navbar navbar-expand-lg navbar-light {{ include.navbarClasses }}">
  <div class="container nav--container">
    <div class="nav--header">
      <a href="{{ site.baseurl| append: '/' | append: page.lang | append: '/#top' }}" class="navbar-brand {{ linkClass }}">
        <img id="hexadLogo" width="120" src="/assets/images/hexad-logo-white.png" />
      </a>
      <button class="navbar-toggler collapsed d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar--content" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        
          {% for nav in t.items %}
            {% if nav.is-button == true %}
              {% assign btnClass = 'round-btn white' %} 
            {% else %}
              {% assign btnClass = '' %} 
            {% endif%}
          <li class="nav-item">
            <a class="nav-link px-3 {{ linkClass }} {{btnClass}}" href="{{ nav.href }}">{{nav.title}}</a>
          </li>
          {% endfor %}
          
          <li id="language-li" class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="#" id="langSelection" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{t.lang-name}}
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="langSelection">
              {% for language in t.other-languages %}
                {%- if page.url contains '/download-portfolio' -%}
                <li><a class="dropdown-item" href="{{ language['lang-url']  | append: 'download-portfolio' }}">{{ language.name }}</a></li>
                {%- else -%}
                <li><a class="dropdown-item" href="{{ language['lang-url'] }}">{{ language.name }}</a></li>
                {%- endif -%}
              {% endfor %}
            </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
