$orange-darker-background: #D54800;
$primary-orange: #FF6415;


//bootstrap overrides
$body-bg: #fff;
$body-color: #111;

$primary: #0074d9;
$danger: #ff4136;

$font-family-sans-serif: $font-family-montserrat;

//breakpoints
$bp-1200: 1200px;
$bp-1025: 1025px;
$bp-1024: 1024px;
$bp-991: 991px;
$bp-768: 768px;
$bp-680: 680px;
$bp-480: 480px;