$h1: 36;
$h2: 32;
$h3: 28;
$h4: 24;
$paragraph: 20;
$body: 14;
$small: 12;
$tiny: 10;

// create font weight
$light: 100;
$regular: 400;
$bold: 500;
$fw-600: 600;
$bolder: 700;

.rb {
  border: red 1px solid;
}

//create breakpoints
@mixin devices($breakpoint) {
  @if $breakpoint == big_screen {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  @if $breakpoint == medium_screen {
    @media only screen and (max-width: $bp-1024) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: $bp-768) {
      @content;
    }
  }

  @if $breakpoint == small_tablet {
    @media only screen and (max-width: $bp-680) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $bp-480) {
      @content;
    }
  }

  @if $breakpoint == navbar or $breakpoint == bp_991 {
    @media only screen and (max-width: $bp-991) {
      @content;
    }
  }
}

@mixin breakBetweenLowerAndUpperLimit($lower, $upper) {
  @media only screen and (min-width: $lower) and (max-width: $upper) {
    @content;
  }
}

//create font sizes
@mixin font-h1-default {
  font-size: ($h1 + 12) + px;
  line-height: ($h1 + 6) + pt;
  font-weight: $bold;

  @include devices(tablet){
    font-weight: $fw-600;
  }
}

@mixin font-h1 {
  font-size: $h1 + px;
  line-height: $h1 + pt;
  font-weight: $bold;
  @include devices(tablet){
    font-weight: $fw-600;
  }
}

@mixin font-h2 {
  font-size: $h2 + px;
  line-height: $h2 + pt;
  font-weight: $bold;
  @include devices(mobile){
    font-weight: $fw-600;
  }
  
}

@mixin font-h3 {
  font-size: $h3 + px;
  line-height: $h3 + pt;
  font-weight: $bold;
}

@mixin font-h4 {
  font-size: $h4 + px;
  line-height: $h4 + pt;
  font-weight: $bold;
}

@mixin font-p {
  font-size: $paragraph + px;
}

