#our-services {
    & h1 {
        @include font-h1-default;
        color: #101010;
    }

    @include devices(tablet){
        & h1 {
              @include font-h1;
          }
  
      }
      
      @include devices(mobile){
        & h1 {
              @include font-h2;
          }
  
    }
    & .expertise-item {
        & h2 {
            @include font-h3;
            color: #000;
            background-position: left center;
            background-repeat: no-repeat;
        }
        p {
            color: #413D45;
        }
    }

    .hexagon-icon {
        width: 55px;
        height: 61px;
        background-image: url("../images/orange-hexagon-expertise.png");
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    @include devices(mobile){
        & .expertise-item {
            & h2 {
                @include font-h4;
            }
        }
    }
}

.card-link {
    text-decoration: none !important;
    color: inherit;
    &:hover {
      color: $primary-orange;
    }
}
