#social-commitment {
    background-color: #EBEBEB;
    & h1 {
        @include font-h1-default;
    }

    @include devices(tablet){
        & h1 {
              @include font-h1;
          }
  
      }
      
      @include devices(mobile){
        & h1 {
              @include font-h2;
          }
  
    }

    & h3 {
        @include font-h3;
        color: #131313;
        margin-bottom: 24px
    }

    & p {
        @include font-p;
        color: #393939;
    }

    & .card{
        border: none;
        margin: 40px;
        background-color: transparent !important;
        & .card-body {
            padding: 40px 0px;
        }
    }

    @include devices(tablet){
        & .card{
            margin: 20px;
            background-color: transparent !important;
            & .card-body {
                padding: 20px 0px;
            }
        }

    }
}