---
layout: inner
---
<div class="container my-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{site.baseurl}}">Home</a></li>
        <li class="breadcrumb-item">
            <a href="{{site.baseurl | append: 'events/'}}">Events</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-8 mx-auto">
      {{ content }}
    </div>
  </div>
</div>
